<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <!-- Set your mod’s package to DEBUG -->
    <Logger name="com.birdsprime.aggresivemobs" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Keep everything else at INFO or above -->
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
